<div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
  <app-header></app-header>
  <app-upcoming></app-upcoming>
  <app-trending></app-trending>
  <mat-divider class="my-5"></mat-divider>
  <app-playingnow></app-playingnow>
  <mat-divider class="my-5"></mat-divider>
  <app-popular></app-popular>
  <mat-divider class="my-5"></mat-divider>
  <app-toprated></app-toprated>
  <mat-divider class="my-5"></mat-divider>
  <app-tvseries></app-tvseries>
  <mat-divider class="my-5"></mat-divider>
  <app-footer></app-footer>
</div>
