<div class="mylist">
  <app-navbar></app-navbar>
  <div class="container-fluid">
    <div class="list">
      <div class="row">
        <div
          class="col-lg-4 col-md-6"
          *ngFor="let u of mylist; let i = index"
          data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="500"
        >
          <mat-card class="example-card">
            <div class="dropdown mb-2 text-end">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              ></button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <a class="dropdown-item" (click)="deleteItem(i)">
                    <mat-icon color="warn">delete_forever</mat-icon>
                    <span>Delete</span>
                  </a>
                </li>
              </ul>
            </div>
            <mat-card-title-group>
              <mat-card-title>{{ u.title }}</mat-card-title>

              <mat-card-subtitle
                >{{ u.vote_average }}/10
                <span>
                  <mat-icon>star_border</mat-icon>
                </span>
              </mat-card-subtitle>

              <img
                class=""
                [src]="imgPrefix + u.backdrop_path"
                [alt]="u.title"
                [routerLink]="['/get', u.id]"
              />
            </mat-card-title-group>
            <mat-card-content>
              <p>{{ u.overview }}</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div
          class="alert"
          *ngIf="mylist.length == 0"
          data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="500"
        >
          <h2 class="alert-h">your list is empty</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="footer pt-5">
    <mat-divider class="pb-3"></mat-divider>
    <app-footer></app-footer>
  </div>
</div>
