<div class="container-fluid">
  <div class="thumbnail">
    <p class="headowl ps-lg-3">Top Rated</p>
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let u of topRated; let i = index">
        <ng-template carouselSlide [id]="u.id">
          <div class="top-rated">
            <img
              class="w-100 carousel"
              [src]="imgPrefix + u.poster_path"
              [alt]="u.title"
              [routerLink]="['/get', u.id]"
            />
            <button mat-flat-button class="addcard" (click)="addToCart(i)">
              <mat-icon color="accent">add_circle</mat-icon>
            </button>
            <i class="fa-solid fa-star"> </i>
            <span class="vote">
              {{ u.vote_average | number: "1.0-1" }}
            </span>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>
