.card {
  background-color: transparent;
}
h5 {
  color: #5f2326;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 15px;

}
p {
  color: #999;
}
.vote {
  display: flex;
    align-items: center;
    gap: 6px;
}
img {height: 200px;}
