.card {
  background-color: transparent;
}
h5 {
  color: #5f2326;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 15px;

}
p {
  color: #999;
}
.vote {
  display: flex;
    align-items: center;
    gap: 6px;
}
img {height: 200px; cursor: pointer;}
.page {
  background: #3a444d80;
    padding: 10px 5px 0px ;
    border-radius: 10px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

