<div class="pb-5">
  <app-navbar></app-navbar>
</div>
<div class="play mt-5" *ngIf="!sppiner">
  <div class="container-fluid">
    <div
      class="row"
      data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-duration="1500"
      data-aos-offset="0"
    >
      <div
        class="col-lg-4 col-md-4 col-sm-6"
        *ngFor="
          let u of unique | paginate: { itemsPerPage: 15, currentPage: page }
        "
      >
        <div class="card mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="{{ imgPrefix + u.poster_path }}"
                class="img-fluid"
                alt="..."
                [routerLink]="['/get', u.id]"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5
                  class="card-title"
                  *ngIf="u.original_title == ''; else originaltitle"
                >
                  {{ "we have not this info right now" | titlecase }}
                </h5>
                <h5
                  class="card-title"
                  *ngIf="u.original_name == ''; else originalname"
                >
                  {{ "we have not this info right now" | titlecase }}
                </h5>
                <ng-template #originaltitle>
                  <h5 class="card-title">
                    {{ u.original_title }}
                  </h5>
                </ng-template>
                <ng-template #originalname>
                  <h5 class="card-title">
                    {{ u.original_name }}
                  </h5>
                </ng-template>

                <p class="card-text" *ngIf="u.overview == ''; else overview">
                  {{ "we have not this info right now" | titlecase }}
                </p>
                <ng-template #overview>
                  <p class="card-text">
                    {{ u.overview | slice: 0:200 }}
                  </p>
                </ng-template>

                <p class="vote">
                  {{ u.vote_average }}/10
                  <span>
                    <mat-icon>star_border</mat-icon>
                  </span>
                </p>
                <p class="card-text" *ngIf="u.release_date; else release">
                  <small class="text-muted"
                    >Release Date: {{ u.release_date }}</small
                  >
                </p>
                <ng-template #release>
                  <p class="card-text">
                    <small class="text-muted"
                      >Release Date: {{ u.first_air_date }}</small
                    >
                  </p>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page">
      <pagination-controls
        class="my-pagination"
        (pageChange)="page = $event"
      ></pagination-controls>
    </div>
  </div>
  <div class="footer pt-5">
    <mat-divider class="pb-3"></mat-divider>
    <app-footer></app-footer>
  </div>
</div>
<div class="spinner" *ngIf="sppiner">
  <span> loading... </span>
</div>
