/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
body {
  margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
   background-color: #212529;
  }
  .headowl {
    background: linear-gradient(10deg,green,red , pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 20px;
    font: {
      size: 27px;
      style: italic;
      weight: 600
    }
    }
    .top-rated {
      position: relative;
      i {
        position: absolute;
        color: #ffeb3b;
        top: 5px;
        right: 5px;
        font-size: 20px;
      }
      .vote {
        position: absolute;
      top: 7px;
      color: black;
      right: 10px;
      font-size: 10px;
      font-weight: 900;
      }
    }
.carousel {
  border-radius: 10px;
  cursor: pointer;
}
.addcard {
  background: transparent;
}

//spinner

.spinner {
  height: calc(100vh - 79px);
  display: flex;
  justify-content: center;
  align-items: center;
  span {
  color: white;
    z-index: 1;
    position: relative;
    font-style: italic;
    font-size: 80px;
    letter-spacing: 5px;
    line-height: 1;
    text-transform: uppercase;
    &::before {
      content: "";
      position:absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100px;
      mix-blend-mode: difference;
      background-color: white;
      animation: move 4s linear infinite;

    }
  }
}

@keyframes move {
  0%, 100% {
    left:0
  }
  50% {
    left: calc(100% - 100px)
  }
}


@media screen and (max-width: 500px) {
  .spinner span {
    font-size: 40px;
  }
  .spinner span::before {
    animation: move 3s linear infinite;
  }
}

